.app__wrapper {

  .unitInfo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .unitInfo__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 230px;
      margin-bottom: 50px;
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      
      h1 {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        font-size: var(--base-font-size);
      }

      h2 {
        text-align: center;
        font-size: var(--base-font-size);
        text-decoration: underline;
      }

      h3 {
        margin-left: 15px;
        margin-right: 15px;
        font-size: var(--base-font-size);
        text-decoration: underline;
        font-weight: 100;
      }

           
    }
  }
}