.page-nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;

  margin-top: 50px;

  & > .button--back {
    border: 2px solid var(--link-blue);
    color: var(--link-blue);
    flex-direction: row-reverse;
  }

  & > .button--forward {
    border: 2px solid var(--link-blue);
    background-color: var(--link-blue);
    color: white;
  }

  & > .page-nav__button:disabled {
    cursor: not-allowed;
    
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    color: rgb(200, 200, 200);
  }
}
