.button__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background: none;
  color: var(--saukko-main-black);
  border: 2px solid var(--saukko-main-black);
  padding: 0 20px;

  .button__text {
    margin: 0 auto;
    font-size: 16px;
  }
  .button__icon {
    font-size: 20px;
  }
}
