
  .evaluationForm__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;

    .evaluationForm__container {
      flex-direction: column;
      // margin-top: 3rem;
      margin-bottom: 3rem;
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;

      h1 {
        margin-top: 32px;
        text-align: center;
        font-size: var(--base-font-size);
      }

      form {
        margin: 33px 33px 15px 33px;
        display: flex;
        flex-direction: column;
        gap: 13px;

        div {
          display: flex;
          flex-direction: column;
          gap: 7px;

          .form_text {
            font-size: 14px;
          }

          .disabled {
            color: #999898;
          }

          input,
          textarea {
            padding: 16px;
            font-family: var(--saukko-main-font);
            font-size: 16px;
          }

          .form-input {
            border: 2px solid black;
          }

          textarea {
            height: 164px;
          }

          /* Date picker style */
          .MuiTextField-root {
            flex-direction: row;
            flex-wrap: nowrap;
            //display: static;

            fieldset {
              input::placeholder {
                color: black;
                //position: static;
              }
            }
          }

          .MuiOutlinedInput-root {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-end;
            border: 2px solid black;
            border-radius: 0%;
           // position: static;
          }

          .Mui-focused {
            fieldset {
              border: none;
              //position: static;
            }
          }

          .MuiOutlinedInput-input::placeholder {
            opacity: 1;
            position: static;
          }

          .Mui-error {
            fieldset {
              border: none;
              //position: static;
            }
          }

          /* Calendar icon */
          .MuiInputAdornment-root {
            margin-top: 7px;
            align-self: flex-start;
            //position: static;

            svg {
              color: black;
              //position: static;
            }
          }

          /* Disabled date picker style */
          .Mui-disabled {
            border-color: #999898;
            //position: static;

            svg {
              color: #999898;
              //position: static;
            }
          }
        }
      }

    }
  }

  @media (min-width: 768px) {
    .evaluationForm__wrapper {
      padding-top: 1rem;
    }
  }
  @media (min-width: 1024px) {
    .evaluationForm__wrapper {
      padding-top: 1rem;
    }
  }
  @media (min-width: 1440px) {
    .evaluationForm__wrapper {
      padding-top: 1rem;
    }
  }
