.infoList__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  width: 100%;

  h1 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 20px auto 35px;
  }
  ul li {
    padding: 5px 20px;
    line-height: 25px;
  }
}
