.customerList__wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h3 {
    padding: 15px;
    font-size: 18px;
  }

  .MuiAccordionDetails-root {
    padding: 0;
  }

  .customerList__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .customerList__accordion {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 10px;

      .customerList__element {
        padding: 10px;

        &.in-progress {
          background-color: #b7d9f7;
        }

        &.waiting-for-processing {
          background-color: #ffe28c;
        }

        &.not-started {
          background-color: #e2e2e2;
        }

        &.completed {
          background-color: #b0edd4;
        }
      }

      p {
        margin-left: 1.4rem;
        padding: 8px;
        text-decoration: none;
        color: #000000;
        font-weight: bold;
        // border: 1px solid #f2f2f2;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .customerList__wrapper {
    padding-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .customerList__wrapper {
    padding-top: 1rem;
  }
}
@media (min-width: 1440px) {
  .customerList__wrapper {
    padding-top: 1rem;
  }
}
