.app__wrapper {
  .specify-tasks__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .specify-tasks__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 200px;
      margin-bottom: 50px;
      width: 100%;
      flex-grow: 1;
      overflow-y: auto;

      h1 {
        margin-top: 20px;
        font-size: 20px;
        align-self: center;
      }

      h3.degree-guidance {
        margin-top: 5px;
        align-self: center;
        font-size: 18px;
      }

      h3.unit-guidance {
        margin-top: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 13px;
        background: var(--accordion-background-grey);
        padding: 1.5rem 1rem;
        margin: 20px;

        h3 {
          font-size: 0.95rem;
          margin-bottom: 0.6rem;
        }

        input {
          height: 60px;
          width: 100%;
          padding: 1rem;
          margin-bottom: 14px;
          font-size: 1rem;
          border-radius: 1;
          border: none;
          //background: var(--accordion-background-grey);
        }
      }
      .add-criteria-btn {
        background: var(--link-blue);
        width: 75%;
        font-size: 0.85rem;
        font-weight: 300;
        color: #fff;
        border-radius: 0;
      }
    }
  }
}
