.app__wrapper {

  .profile__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 200px;

    .profile__container {
      .profile__container--title {
        text-decoration: underline;
        font-size: 16px;
        text-align: center;
      }
      
      .profile__container--row {
        padding: 30px;
        border-bottom: 1px solid var(--saukko-light-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .profile__container--row-value {
          color: var(--saukko-main-grey);
        }
        
        .profile__container-row-arrow {
          font-size: 25px;
          flex-shrink: 0;
        }
      }
    }
    
    .profile__logout {
      margin: 50px 20px 100px 20px;
      
      .button__container {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 5px;
        height: 40px;
        color: var(--link-blue);
        background: var(--saukko-main-white);
        border: 2px solid var(--link-blue);
        
        .button__icon{
          width: 20px;
          margin: 0;
        }
        
        .button__text {
          font-size: 15px;
          margin: 0;
        }
      }
    }
  }
}