.app__wrapper {
  .list_group_skills_titles {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 8px 0;
    padding: 10px;
  }

  .title {
    flex: 1;
    font-weight: 200;
  }
}
