// Main wrapper for the account failed page
.accountFailed__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    align-items: center;
    height: 100%;
  
    .accountFailed__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100vh;
      gap: 15px;
  
      h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center; 
      }
  
      .accountFailed__container--icon {
        margin: 0 auto;
        font-size: 43px;
        color: var( --additional-red-dark);
      }
      p {
        text-align: center;
        font-size: 16px;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  