.app__wrapper {
  .clientPage__wrapper {
    padding-top: 3rem;

    .clientPage__container {

      display: flex;
      flex-direction: column;
      gap: 20px;

      .clientPage__card {
        background: #F2F2F2;
        padding: 28px 14px;

        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 2rem;
      }
    }

    h1 {
      font-size: 20px;
    }
  }
}

.client-information__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  color: var(----color-black-90, #1A1A1A);

  &.disabled {
    color: var(----color-black-40, #999);
  }

  .field {
    font-weight: 700;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
  }

  .value {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
  }
}


.title {
  color: var(----color-black-90, #1A1A1A);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}