// .app__wrapper{
//   .performanePage__wrapper{
//     display: flex;
//     flex-direction: column;
//     }
// }

.para-title-style {
  margin-left: 18px;
  margin-bottom: 16px;
  margin-top: 18px;
  font-size: 16px;
}
