.notificationbadge-container{
  margin: 0px 15px 30px 15px;

  .badge {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &.teacher {
      background-color: #FFC61E;
    }

    &.supervisor {
      background-color: #f5a3c7;
    }

    &.customer {
      background-color: #9FC9EB;
    }

    .text{
      font-size: 14px;
      margin-right: auto;
    }

    .icon {
      width: 44px;
      height: 44px;
      font-size: bold;
      color: black;
    }

    .numberstyle{
      font-size: 40px;
      font-weight: 700;
    }
  }
}

