.password__wrapper {
  label {
    font-size: 16px;
  }
  .password__container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0.7rem 0;
    input {
      width: 100%;
      height: 56px;
      padding: 1rem;
      background: none;
      color: var(--saukko-main-black);
      border: 2px solid var(--saukko-main-black);
    }
    .password-icon {
      position: absolute;
      top: 57%;
      right: 1rem;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .eye-off,
    .eye-on {
      font-size: 22px;
    }
  }
}
