.app__wrapper {
  // main wrapper for the landing page
  .landingPage__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 36px;
    background: var(--saukko-main);
    text-align: center;

    h1 {
      font-size: 78px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }

    .landingPage__textcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .landingPage__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
