.companyInfo__wrapper {
  padding: 3rem 0;

  h1 {
    color: var(----color-black-90, #1A1A1A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.7rem;
  }

  h2 {
    color: var(----color-black-90, #1A1A1A);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
  }

  .supervisor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;

    .supervisor__info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .supervisor__info-title {
        color: var(----color-black-90, #1A1A1A);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
      }
  
      .supervisor__info-name {
        color: var(----color-black-90, #1A1A1A);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
      }
  
      .supervisor__info-email {
        color: var(----color-black-90, #1A1A1A);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
      }
    }

  }

  .card {
    display: flex;
    padding: 28px 14px;
    flex-direction: column;
    align-items: flex-start;
    background: var(----color-black-5, #F2F2F2);
    margin-bottom: 24px;
    gap: 14px;

    p {
      color: var(----color-black-90, #1A1A1A);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 14px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;;
    }

    .card__field {
      width: 100%;

      .text_input {
        margin-top: 4px;
        width: 100%;
      }
    }
  }

  .heading_style {
    color: #1a1a1a;
    font-family: Helsinki Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  .text_input {
    width: auto;
    padding: 12px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    display: flex;
    background-color: white;
    border: 2px solid black;
  }

  .businessID__search-field {
    justify-content: flex-start;
    // position: relative;
    // padding: 0;

    .text_input_businessID {
      width: 100%;
      border: none;
    }

    input::placeholder {
      color: rgb(199, 199, 199) !important;
    }

    svg {
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }
  }

  .businessInformation {
    justify-content: flex-start;

    .text_input_businessInformation {
      width: 100%;
      border: none;
    }

    input::placeholder {
      color: rgb(199, 199, 199) !important;
    }

    svg {
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }
  }

  .supervisorInformation {
    justify-content: flex-start;

    .text_input_supervisorInformation {
      width: 100%;
      border: none;
    }

    input::placeholder {
      color: rgb(199, 199, 199) !important;
    }

    svg {
      flex-shrink: 0;
      height: 20px;
      width: 20px;
    }
  }

  .workplace-form-label {
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .info__stepper__container {
    display: flex;
    flex-direction: column;
    // margin-top: 200px;
    margin-bottom: 50px;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .companyInfo__wrapper {
    padding-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .companyInfo__wrapper {
    padding-top: 1rem;
  }
}
@media (min-width: 1440px) {
  .companyInfo__wrapper {
    padding-top: 1rem;
  }
}

.delete-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    border: 2px solid var(--link-blue);
    height: 60px;
    background-color: white;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
    padding: 0 30px;

    &:disabled {
      cursor: not-allowed;
    }

    &.button--primary {
      background-color: var(--link-blue);
      color: white;
    }

    &.button--secondary {
      background-color: white;
      color: var(--link-blue);
    }
  }
}

.supervisor-information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 15px;
  background: #F9F9F9;

  & > .field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > .field-name {
  
    }
  
    & > .field-value {
      font-size: 18px;
      font-weight: 700;
      margin-left: 11px;
    }
  }

}