.steps {
  display: grid;
  place-items: center;
  gap: 6px;
  margin: 0 20px;
  z-index: 2;

  .step-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    position: relative;

    & > span {
      font-weight: 500;
      word-break: break-word;
      hyphens: auto;
    }
    
    &:not(:last-child) {
      .circle::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        left: 50%;
        background-color: var(--saukko-light-grey) !important;
        z-index: -1;
      }

      .circle.done::before {
        background-color: var(--link-blue) !important;
      }
    }

    .circle {
      display: grid;
      place-items: center;

      background-color: white;
      width: 32px;
      height: 32px;
      border-radius: 9999px;
      border: 2px solid var(--saukko-light-grey);
      
      &.active {
        border: 4px solid var(--link-blue);
      }
      
      &.done {
        border: 4px solid var(--link-blue);
        background-color: var(--link-blue);
      }
      
      .iconify-icon {
        font-size: 18px;
      }
      
      .number {
        color: var(--saukko-light-grey);
        transition: all 0.3s ease-in-out;
        font-size: 15px;
        
        &.active {
          color: var(--link-blue);
          font-weight: bold;
        }
      }
    }
  }
}