  .company__searchPage__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--saukko-main-white);
    text-align: left;
    padding-top: 3rem;

    .company__searchPage__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%;
      gap: 20px;

      h2 {
        text-align: center;
        font-size: 18px;
      }

      .searchPage__container--list {
        padding: 0px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 8px;

        .company__searchPage__container--list-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-height: 125px;
          height: 42px;
          padding: 12px;
          cursor: pointer;

          h3 {
            font-size: 16px;
            
          }

          .company__searchPage__container--list-item-bottom {
            display: flex;
            flex-direction: column;
            gap: 12px;

            div {
              display: flex;
              justify-content: space-between;
            }

            p {
              font-size: 12px;
             
            }

            li {
              font-size: 18px;
              font-weight: 600;
              text-align: end;
            }
          }

          &:nth-child(even) {
            background-color: var(--additional-light-yellow);
          }
        
          &:nth-child(odd) {
            background-color: var(--additional-light-blue);
          }
        }


      }
      .searchPage__container--list-pagination {
        padding: 0px 15px 86px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 12px;

        .pagination__button {
          background: var(--saukko-main-white);
          border-radius: 50%;
          border: none;
          height: 40px;
          width: 40px;
        }

        .pagination__button--active {
          color: var(--saukko-main-white);
          background: var(--saukko-main-black);
        }

        .searchPage__container--list-pagination-arrows {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .arrow__button {
            font-weight: 600;
            background: none;
            border: none;
          }
        }
      }
    }

    .searchField__container {
      margin: 15px;
    }

    .stepper__container{
      display: flex;
      flex-direction: column;
      margin-top: 2px;
      margin-bottom: 15px;
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .company__searchPage__wrapper {
      padding-top: 1rem;
    }
  }
  @media (min-width: 1024px) {
    .company__searchPage__wrapper {
      padding-top: 1rem;
    }
  }
  @media (min-width: 1440px) {
    .company__searchPage__wrapper {
      padding-top: 1rem;
    }
  }


