.feedback__wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
  min-width:  '100%';
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
// // border: 1px solid red;
 }



.first-div-style{
  display: flex;
  justify-content: space-around;
align-items: center;
}
