.app__wrapper {
  .evaluationWorkplace__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--saukko-main-white);
    text-align: left;

    .evaluationWorkplace__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 225px;
      width: 100%;
      gap: 20px;
      padding: 15px;

      h1 {
        margin-top: 32px;
        text-align: center;
        text-decoration: underline;
        font-size: var(--base-font-size);
      }
    }
  }
}
