.app__wrapper {
  // main wrapper for the login page
  .pickAccountType__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .wavesHeader__wrapper {
      background: var(--link-blue);

      h1,
      img,
      #backArrowSVG {
        filter: invert(100%);
      }
    }

    .pickAccountType__container {
      display: flex;
      flex-direction: column;
      padding: 0px 36px 0px 36px;
      margin-top: 72px;
      width: 100%;
      gap: 64px;

      .pickAccountType__container--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;

        p {
          color: var(--link-blue);
        }
      }

      .pickAccountType__container--buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 32px;

        button {
          color: var(--link-blue);
          border: 2px solid var(--link-blue);
        }
      }
    }
  }
}
