.app__wrapper {
  .userNav__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0%;
  }

  .userNav__icons {
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  .userNav__icons.customer {
    background-color: #9FC9EB;
  }

  .userNav__icons.supervisor {
    background-color: #F5A3C7;
  }

  .userNav__icons.teacher {
    background-color: #FFC61E;
  }
}


// hamburger css
.userNav__wrapper {
  position: relative;
}
 
.mobile-menu-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  svg {
    width: 30px;
    height: 30px;
  }
}
 
.userNav__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
 
.userNav__menu--open {
  transform: translateX(0);
}
 
.userNav__menu__closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color:white;
  z-index: 101;
 
}
 
.userNav__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 
  &.customer {
    color: #9FC9EB;
  }
 
  &.supervisor {
    color: #F5A3C7;
  }
 
  &.teacher {
    color: #FFC61E;
  }
 
  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
