.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 3rem;
}

.degreeSummary {
  display: flex;
  align-items: initial;
  justify-content: space-between;
  padding: 1rem;
}

.degreeTitle {
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  // margin-top: 2em;
  gap: 10px;
}

.iconWrapper {
  margin-left: 5px;
}

.sectionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-align: center;
}

.box { // summary__container--box
  background: #f2f2f2;
  padding: 1rem;

  p {
    font-size: 1rem;
  }

  hr {
    margin: 17px 0;
    color: #9c9c9c;
    border: solid 1px;
  }

  li {
    padding: 10px 0;
    font-size: 1.1rem;
  }

  strong {
    font-size: 1rem;
  }

  .mb {
    margin-bottom: 20px;
    display: block;
  }

  .unitContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    padding-bottom: 15px;

    strong {
      margin-bottom: 10px;
    }
  }

  .unitContainer:not(:last-child) {
    border-bottom: solid #808080 1px;
  }

  .unitNameIconsContainer {
    display: flex;
    align-items: initial;

    .degreeDiaryNumber {
      flex-grow: 1;
    }
  }

  .unitTitle {
    flex: 1;
  }

  &.unitDescription {
    display: flex;
    align-items: initial;
    // gap: 10px;
  }

  .descriptionContent {
    flex: 1; // Take remaining space
  }

  .circleWrapIcon {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  .alignLeft {
    display: block;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .container {
    padding-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-top: 1rem;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-top: 1rem;
  }
}