.contractInfo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .leftAligned {
    text-align: left;
  }

  .navigation-button {
    width: 130px;
    padding: 16px;
    font-size: 16px;
    margin: 0 14px;
    text-decoration: none;
    border: 2px solid var(--link-blue);
    color: var(--link-blue);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    * {
      color: inherit;
      font-size: inherit;
    }
  }
}
