.field-value-card {
  display: flex;
  background: #D0E6F7;
  width: 100%;
  padding: 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  &__title {
    color: var(----color-black-90, #1A1A1A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 !important; // Ugh...
  }

  &__value {
    color: var(----color-black-90, #1A1A1A);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 !important; // Ugh...
  }
}
