.notifications__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 45px;

  .notifications-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    width: 100%;

    .placeholder {
      color: gray;
    }
  }
}