.app__wrapper {
  // main wrapper for the forgot password page
  .forgotPassword__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .forgotPassword__container {
      display: flex;
      flex-direction: column;
      padding: 0px 36px 0px 36px;
      margin-bottom: 150px;
      width: 100%;
      height:15%;
      gap: 10px;

      h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }

      p {
        text-align: center;
        color: var(--saukko-main-grey);
      }

      .forgotPassword__container--form-text {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;

        input {
          width: 100%;
          height: 56px;
          background: none;
          color: var(--saukko-main-black);
          border: 2px solid var(--saukko-main-black);
        }

        a {
          text-align: right;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      height: 100%;
      gap: 8px;

      label {
        font-size: 16px;
      }

      input {
        width: 250px;
        height: 30px;
        padding: 7px;
        border: 1px solid var(--saukko-main-black);
      }
    }

    .forgotPassword__form--bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      padding: 0px 36px 36px 36px;
      width: 100%;
      bottom: 0;
    }
  }
}
