.app__wrapper {
  .specify-tasks__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .specify-tasks__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 200px;
      margin-bottom: 50px;
      width: 100%;
      flex-grow: 1;
      overflow-y: auto;

      form {
        display: flex;
        flex-direction: column;
        gap: 13px;
        background: var(--accordion-background-grey);
        padding: 3rem 1rem;
        margin: 20px;

        input {
          height: 60px;
          width: 100%;
          padding: 1rem;
          margin-bottom: 14px;
        }
      }
      .add-criteria-btn {
        background: var(--link-blue);
        width: 50%;
        font-size: 0.85rem;
        font-weight: 300;
        color: #fff;
        border-radius: 0;
      }
    }
  }
}
