$userNav-z-index: 10;
.userNav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  //height: 50px;
  width: 100%;
  //bottom: 0%;
  z-index: $userNav-z-index;
}

.userNav__icons {
  padding: 50px 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .helsinki-logo {
    width: 110px;
    height: 50px;
  }

  .logo-text {
    font-size: 32px;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}
.navListItem {
  padding: 20px;
}

.userNav__icons.customer {
  background-color: #9fc9eb;
}

.userNav__icons.supervisor {
  background-color: #f5a3c7;
}

.userNav__icons.teacher {
  background-color: #ffc61e;
}

.mobile-menu-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  svg {
    width: 30px;
    height: 30px;
  }
}

.userNav__shadow {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $userNav-z-index - 10;
  
  transition: background-color 0.3s ease;
  pointer-events: all;
  
  &.hidden {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

.userNav__menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  margin-right: 18%;
}

.userNav__menu--open {
  transform: translateX(0);
}

.userNav__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &.customer {
    color: #9fc9eb;
  }

  &.supervisor {
    color: #f5a3c7;
  }

  &.teacher {
    color: #ffc61e;
  }

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .NavText {
    font-size: 20px;
    font-weight: 600;
  }

  /* @media (min-width: 375px) */
  @media only screen and (max-width: 375px){
    .userNav__icons{
      padding: 20px 5px;
      gap:0;
    }
    .logo-text {
      font-size: 28px;
    }
    .NavText{
      font-size: 16px;
    }
  }
}
