.app__wrapper {
  // main wrapper for the login page
  .loginPage__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
      color: var(--saukko-main-white);
    }
    .loginPage__container {
      display: flex;
      flex-direction: column;
      padding: 0px 36px 0px 36px;
      margin-bottom: 80px;
      width: 100%;
      gap: 10px;

     

      h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }

      .loginPage__container--form-text {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;

        input {
          width: 100%;
          height: 56px;
          background: none;
          color: var(--saukko-main-black);
          border: 2px solid var(--saukko-main-black);
        }

        a {
          text-align: right;
        }
        .password__container {
          display: flex;
          align-items: center;
          position: relative;
         
          .password-icon {
            position: absolute;
            top: 57%;
            right: 1rem;
            transform: translateY(-50%);
            cursor: pointer;
          }
      
          .eye-off,
          .eye-on {
            font-size: 22px;
          }
         
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      height: 100%;
      gap: 8px;

      label {
        font-size: 16px;
      }

      input {
        width: 250px;
        height: 30px;
        padding: 7px;
        border: 1px solid var(--saukko-main-black);
      }
    }

    .loginPage__form--bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      padding: 0px 36px 36px 36px;
      width: 100%;
      bottom: 40px;
      gap: 65px;
    }
    
  }
}
 .error-message{
color: #B01038;
;
}

.error__container{
  display: flex;
  align-items: center;
  gap:55px
}
.error__msg__container{
  display: flex;
  align-items: center;
  gap:4px
}
