.app__wrapper {
  .customerForm__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    .customerForm__container {
      display: flex;
      flex-direction: column;
      margin-top: 200px;
      margin-bottom: 50px;
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;

      h1 {
        margin: 40px;
        text-align: center;
        text-decoration: underline;
        font-size: var(--base-font-size);
      }
    }
  }
}
