// importing all scss files for an easier global export to the app
@import 'base';
@import 'registration';
@import '../components/Header/wavesheader';
@import '../components/UserNav/usernav';
@import '../components/Button/button';
@import '../components/Notification/notification';
@import '../components/NotificationBadge/notificationbadge';
@import '../components/Stepper/stepper';
@import '../components/Hyperlink/hyperlink';
@import '../components/PasswordInput/passwordinput';
@import '../components/SelectUnit/selectunit';
@import '../components/InfoList/infolist';
@import '../components/UnitStatus/unitstatus';
@import '../components/Searchbar/searchbar';
@import '../components/PageNavigationButtons/pagenavigationbuttons';
@import '../components/PerformaceFeedback/PerformancesFeedback/performancesfeedback';
@import '../components/PerformaceFeedback/TeacherPerformance/teacherPerformance';
@import '../components/PopUpForm/popupform';
@import '../components/DisplayDataFromInputModal/displayDataFromInputModal';
@import '../pages/./TestPage/testpage';
@import '../pages/./LoginPage/loginpage';
@import '../pages/LandingPage/landingpage';
@import '../pages/ForgotPassword/forgotpassword';
@import '../pages/ResetPassword/resetpassword';
@import '../pages/ProfilePage/profilepage';
@import '../pages/AdminDegree/AddDegree/adddegree';
@import '../pages/AdminDegree/SearchPage/searchpage';
@import '../pages/AdminDegree/DegreeInfo/degreeinfo';
@import '../pages/AdminDegree/DegreeUnits/degreeunits';
@import '../pages/AdminDegree/EditUnits/editunits';
@import '../pages/AdminDegree/SpecifyTasks/specifytasks';
@import '../pages/AdminDegree/Summary/summary';
@import '../pages/Home/CustomerList/customerlist';
@import '../pages/Home/UnitList/unitlist';
@import '../pages/ContractInfo/contractinfo';
@import '../pages/CompanyInfo/companyinfo';
@import '../pages/CompanyInfo/CompanySearchPage/companyserachpage';
@import '../pages/AdminMenu/adminmenu';
@import '../pages/CreateEvaluation/EvaluationForm/evaluationform';
@import '../pages/CreateEvaluation/EvaluationWorkplace/evaluationworkplace';
@import '../pages/CreateEvaluation/EvaluationUnits/evaluationunits';
@import '../pages/CreateEvaluation/EvaluationSummary/evaluationsummary';
@import '../pages/CompanyInfo/CompanyDegreeUnits/companyDegreeUnits';
@import '../pages/CompanyInfo/DegreeConfirmSelection/degreeConfirmSelection';
@import '../pages/Performance/UserPerformance/userperformane';
@import '../pages/CreateSummary/createunitssummary';


