// importing all scss files for an easier global export to the app
@import 'base';
@import 'registration';
@import '../components/Header/wavesheader';
@import '../components/Footer/footer';
@import '../components/UserNav/usernav';
@import '../components/Button/button';
@import '../components/Notification/notification';
@import '../components/NotificationBadge/notificationbadge';
@import '../components/PageNumbers/PageNumbers';
@import '../components/Hyperlink/Hyperlink';
@import '../components/PasswordInput/passwordinput';
@import '../components/SelectUnit/selectunit';
@import '../components/InfoList/infolist';
@import '../components/UnitStatus/unitstatus';
@import '../components/Searchbar/searchbar';
@import '../components/PageNavigationButtons/pagenavigationbuttons';
@import '../pages/./TestPage/testpage';
@import '../pages/./LoginPage/loginpage';
@import '../pages/RegisterPage/registerpage';
@import '../pages/CreateAccountCustomer/LoginInfo/logininfo';
@import '../pages/CreateAccountCustomer/GeneralInfo/generalinfo';
@import '../pages/CreateAccountCustomer/WorkInfo/workinfo';
@import '../pages/CreateAccountCustomer/AccountCreated/accountcreated';
@import '../pages/CreateAccountCustomer/AccountFailed/accountfailed';
@import '../pages/LandingPage/landingpage';
@import '../pages/ChooseRole/chooserole';
@import '../pages/ForgotPassword/forgotpassword';
@import '../pages/UserPage/userpage';
@import '../pages/FirstLogin/firstlogin';
@import '../pages/FirstLogin/Step0/pick-account-type';
@import '../pages/HomePageAfterLoggedIn/homepageafterloggedin';
@import '../pages/ResetPassword/ResetPassword';
@import '../pages/ProfilePage/Profilepage';
@import '../pages/ChooseDegree/SearchPage/searchpage';
@import '../pages/ChooseDegree/DegreeInfo/degreeinfo';
@import '../pages/ChooseDegree/DegreeUnits/degreeunits';
@import '../pages/ChooseDegree/UnitInfo/unitinfo';
@import '../pages/ChooseDegree/ConfirmSelection/confirmselection';
@import '../pages/UserDashboard/userdashboard';
@import '../pages/ContractInfo/contractinfo';
@import '../pages/UpdateHomePageAfterLogin/updatehomepageafterlogin'


